body {
  margin: 0;
  padding: 0;
  background-color: rgb(7,7,45);
  color: rgb(141,102,22);
  font-family: "Times New Roman";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
